<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6B8D70E26B6A0ED00793463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6B8D72426B6A0EE00793463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6B8D72F26B6A0EE00793463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
